/* set title height and width */
#title{
    height: 500px;
    width: 500px;
    background-image: url("https://i.gyazo.com/1b877c9a0f5b42cfb820a22c6132a4db.png");  /* image doesn't load when using /images/hang_title_pic.jpg path */
    background-size: 500px 500px;
}

i{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrow_right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow_left{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

/* Unbold h3s (affects instruction's explanation text) */
h3{
    font-weight: normal;
}

/* Align score to right side of screen & give right-padding so it's not too far right */
#score{
    text-align: right;
    padding-right: 1%;
}

/* Increase font size of letters guessed/underscores & add spacing in between each letter so number of underscores is visible */
#wordToGuess{
    font-size: 32px;
    letter-spacing: 5px;
}

/* Increase font size of end game text & center it */
#endText{
    font-size: 48px;
    text-align: center;
}