/* for title & instructions title: center text, 102px font, some top margin space, font Markazi Text */
h1{
    text-align: center;
    font-size: 102px;
    font-family: 'Markazi Text', serif;
    margin-top: 60px;
}

/* Set title height and width & align title to center
 * Put title/background img in & centered it
 */
#title{
    height: 44vw;
    width: 99vw;
    background-image: url("https://i.gyazo.com/1b877c9a0f5b42cfb820a22c6132a4db.png");  /* image doesn't load when using /images/hang_title_pic.jpg path */
    background-repeat: no-repeat;
    background-size: 540px 540px;
    background-position: center 68%;
    /*margin-top: -50px;*/
}

/* Makes solid lines/thickness of arrows */
i{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

/* orientes arrow to be right */
.arrow_right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/* orientes arrow to be left */
.arrow_left{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

/* makes the right button appear 3% left from the right side of screen */
.right_button{
    position: fixed;
    right: 8%;
    bottom: 15%;
}

/* makes the left button appear 3% right from the left side of screen */
.left_button{
    position: fixed;
    left: 8%;
    bottom: 15%;
}

/* Unbold h3s (affects instruction's explanation text), change font to Markazi, lighter than normal font-weight, 
   more right and left margin space, center text, this is the instructions text */
h3{
    font-family: 'Markazi Text', serif;
    font-weight: 300;
    font-size: 44px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}

/* Align score to right side of screen & give right-padding so it's not too far right */
#score{
    text-align: right;
    padding-right: 1%;
}

/* Increase font size of letters guessed/underscores & add spacing in between each letter so number of underscores is visible */
#wordToGuess{
    font-size: 32px;
    letter-spacing: 5px;
    text-align: center;
}

/* Increase font size of end game text & center it */
#endText{
    font-size: 48px;
    text-align: center;
}

#instructions, #gameboard, #endtext{
    display: none;
}