/* font Markazi Text for all text */ 
body{
    font-family: 'Markazi Text', serif;
}

/* for title & instructions title: center text, 102px font, some top margin space */
h1{
    text-align: center;
    font-size: 124px;
    margin-top: 4%;
}

.title-img{
    height: 60vh;
    width: 30vw;
    margin: 0 auto;  
    position: center;
    background-image: url("https://i.gyazo.com/1b877c9a0f5b42cfb820a22c6132a4db.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 30vw 17vh;
    background-size: 40% 80%;
}

button{
    border: none;
    background: white;
    font-size: 200px 200px;
}

/* Makes solid lines/thickness of arrows */
i{
    border: solid black;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 15px;
}

/* orientes arrow to be right */
.arrow_right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/* orientes arrow to be left */
.arrow_left{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

/* makes the right button appear 8% left from the right side of screen & 15% above the bottom of screen */
.right_button{
    position: fixed;
    right: 8%;
    bottom: 15%;
}

/* makes the left button appear 8% right from the left side of screen & 15% above the bottom of screen*/
.left_button{
    position: fixed;
    left: 8%;
    bottom: 15%;
}

/* Unbold h3s (affects instruction's explanation text), change font to Markazi, lighter than normal font-weight, 
   more right and left margin space, center text, this is the instructions text */
h3{
    font-weight: 300;
    font-size: 44px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}

#gameboard{
    font-size: 32px;
}

#guessesLeft{
    float: left;
}

/* Align score to right side of screen & give right-padding so it's not too far right */
#score{
    float: right;
    padding-right: 1%;
}

/* Increase font size of letters guessed/underscores & add spacing in between each letter so number of underscores is visible */
#wordToGuess{
    letter-spacing: 10px;
    text-align: center;
}

.lettersNotInWord{
    border: 1.5px solid black;
    margin-left: 3%;
    height: 15vh;
    width: 91vw;
}

#lettersNotInWord{
    text-align: center;
    vertical-align: center;
    margin: 0px 0px 0px 0px;
}

#wordToGuess, #lettersNotInWord, #endText{
    font-size: 80px;
    font-weight: 100;
}

/* Increase font size of end game text & center it */
#endText{
    font-size: 48px;
    text-align: center;
}

#instructions, #gameboard, #endtext{
    display: none;
}